.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    &__heading {
        margin: 0;

        &--small {
            margin: 0;
        }
    }

    &__instructions {
        margin: 0;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;

    &__input-container {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
}